<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="el-form">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `el-form`
     * Formulario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElForm extends Polymer.Element {
      static get is() { return 'el-form'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'el-form'
          }
        };
      }
    }

    window.customElements.define(ElForm.is, ElForm);
  </script>
</dom-module>
