<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="el-form">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button {
        background-color:#0b7d91;
      }
    </style>
    <h2>[[configData.title]]</h2>
    <paper-input label="[[configData.label1]]" no-label-float value="[[inputValue1]]"></paper-input>
    <paper-input label="[[configData.label2]]" no-label-float value="[[inputValue2]]"></paper-input>
    <paper-input label="[[configData.label3]]" no-label-float value="[[inputValue3]]"></paper-input>
    <!-- <template is="dom-repeat" elements="[[configData.inputsArray]]">
      <span>Prueba</span>
      <paper-input label="[[item.label]]" no-label-float value="[[inputValue]]"></paper-input>
    </template> -->
    <paper-button on-click="form-event" raised>[[configData.buttonName]]</paper-button>
  </template>

  <script>
    /**
     * `el-form`
     * Formulario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElForm extends Polymer.Element {
      static get is() { return 'el-form'; }
      static get properties() {
        return {
          configData: {
            type: Object,
            value: () =>{
              return {
                title: 'Agregar Alumno',
                buttonName: 'Agregar',
                label1: 'Nombre',
                label2: 'Email',
                label3: 'Telefono'
              }
            }
          },
          inputValue1: {
            type: String,
            value: ''
          },
          inputValue2: {
            type: String,
            value: ''
          },
          inputValue3: {
            type: String,
            value: ''
          }
        };
      }
      formEvent(e){
        this.dispatchEvent(
        new CustomEvent('form-event',{
          detail:{
            name: this.inputValue1,
            email: this.inputValue2,
            phone: this.inputValue3
          }
        }))
      }
    }

    window.customElements.define(ElForm.is, ElForm);
  </script>
</dom-module>
